*{
    box-sizing:border-box;
    border: #F1F1F1;
    
}
.body{
    margin:0px auto;
}

.container {
    width: 80%;
    border: 1px solid ;
    margin: 0px auto;
    height: 100%;
    /* position:fixed; */
    
}
.common:after{
    content:" ";
    clear:both;
    display:block;
}

.col_1{width: 8.33%;}
.col_2{width: 16.66%;}
.col_3{width: 25%;}
.col_4{width: 33.33%;}
.col_5{width: 41.66%;}
.col_6{width: 50%;}
.col_7{width: 58.33%;}
.col_8{width: 61.66%;}
.col_9{width: 75%;}
.col_10{width: 83.33%;}
.col_11{width: 91.66%;}
.col_12{width: 100%;}

[class *="col_"]{
    float:left;
    height:50px;
    border:1px solid rgb(245, 242, 242);
}

.header{
    
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
.header>ul>li{
    list-style: none;
    padding:10px;
    float: left;

   
  
}
.header>ul>li>a{
    text-decoration:none;
    color: blue;
    font-size: 14px; 
    font-family:"Arial";
   
}
.logo{
    height:auto;
    width:10%;
    border:1px solid rgb(255, 255, 255);
    
}
.menu{
    height:400px;
    border:1px solid white;
    
    
    
 }
 .menu>h1>p{
    text-align: left;
    margin-bottom: 0px;
 }
.menu > ul > li  {
    float:left;
    list-style:none;
    
    
    
}
.menu > ul > li >a {
    text-decoration:none;
    background-color: white;
    padding:16px;
    margin: 0 0 0 80px;
    text-align: justify;
    color: rgb(8, 20, 185);
    
    /* position:relative; */
    
} 
/* #logo_place_change{
    position:fixed;
} */
/* #menu_place_change{
    position: fixed;
    right:0;
    top: 0;
    left:0;
    bottom: 0;
} */

/*end Menu part*/

.slider{

    height:400px;
    
}
 .slider_part1{
    background-color:rgb(255, 255, 255);
    height:400px;
    
   

}
.slider_part2{
    background-color: rgb(255, 254, 254);
    
    height:400px;
   
}
.social_icon{
    height: 80px;
    border:1px solid white;
    margin: 0 0 0 0;
    color:#080303;
    background-color: rgb(231, 238, 240);
    
}
.social_icon > ul > li{
    float:left;
    list-style:none;
    background-color:rgb(233, 223, 229);
    padding:10px;
    margin:0 0 0 0;
    
}
.about{
    height:100%;
    border:1px solid white;
    margin: 0 0 0 0;
}
.experience{
    height:1000px;
    border:1px solid white;
    margin: 0 0 0 0;
}
.education{
    height:350px;
    border:1px solid white;
    margin: 0 0 0 0;
}
.skill{

    height:300px;
    border:1px solid whitesmoke;
    text-align: center;
    display: flex;
    
    justify-content: center;

    
    
}
.contact{
    height:50px;
    border:1px solid rgb(255, 255, 255);
    background-color: aliceblue;
    
}
.contact>p{
    text-align: center;
    color:rgb(0, 0, 0)
}
.footer_top{
    height:300px;
    border:1px solid;
    margin: 0 0 0 0;
}
.footer_top1{
    height: 300px;
    background-color:#F1F1F1;
    margin: 0px auto;
    
}
.footer_top1>form{
    background-color:#F1F1F1;
    text-align: left;
    padding:50px;
    margin: 0 0 0 90px;
}
.footer_top2{
    height: 300px;
    background-color: #F1F1F1;
    padding:50px;
    border:none;
}

/* end footer_top */
.footer{
    height:52px;
    border:1px solid white;
    margin: 0 0 0 0;
}
.footer  p{
    text-align: center;
    color: rgb(0, 0, 0);
}



